---
import { ThemeToggle } from '@/components/theme-toggle';
---

<nav class="flex items-center justify-between font-ibm">
    <div class="flex items-center gap-2">
        <div class="rounded-full size-9 bg-gold-yellow" />
        <div class="flex flex-col">
            <span>Jan Kowalski</span>
            <span class="text-foreground/50 dark:text-foreground/60"
                >Blog author</span
            >
        </div>
    </div>
    <ThemeToggle client:load />
</nav>
